html, body {height:100%;}
body {padding:0px; margin:0px;}
textarea {height:100%; width:99%;resize:none; border:none;line-height:22px;font-size:16px;}
#hStatusbar {
	height:19px;
	font-size:12px;
	border-top:1px solid gray;
}
body.night textarea  {
	background-color:#000;
	color:#97dc86;
}
