.thumb {
	/*background: rgba(255,0,0,0.5);/**/
	border: 1px colid red;
	float: left;
	width: 80px;
}
.thumb ul li {
	list-style-type:none;
	margin:2px 0px 2px 0px;
	padding:0px;
	border:1px solid gray;
}
.thumb ul {
	margin: 0px auto auto 0px;
	padding: 0px;
	overflow-y: scroll;
	text-align: center;
}
.thumb ul li img {
	max-width:38px;
	opacity:1.0;
	vertical-align: middle;
}
.thumb ul li.active,.thumb ul li:hover {
	border:1px solid rgb(161, 188, 192);
}
.activeQ {
	background : rgba(235, 253, 255, 0.7)/*rgba(41, 100, 165, 0.33)*/;
	z-index:2;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
